Source: magnum-examples
Priority: optional
Maintainer: Vladimír Vondruš <mosra@centrum.cz>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.12), magnum-dev, magnum-plugins-dev, magnum-integration-dev, magnum-extras-dev, libbullet-dev, libopenal-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://magnum.graphics
Vcs-Git: git://github.com/mosra/magnum-examples.git
Vcs-Browser: https://github.com/mosra/magnum-examples

Package: magnum-examples
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, magnum, magnum-plugins, magnum-integration, magnum-extras, libbulletcollision2.83.6, libopenal1
Description: Examples for the Magnum C++11/C++14 graphics engine
 Magnum is 2D/3D graphics engine written in C++11 and modern OpenGL. Its goal
 is to simplify low-level graphics development and interaction with OpenGL
 using recent C++11 features and to abstract away platform-specific issues.
