#!/usr/bin/make -f

# For some crappy reason Ubuntu includes this flag by default when building deb
# packages. This breaks signal/slot connections across *.sos in
# Corrade::Interconnect library (which may affect some examples here) and as
# said on the links below, it has some noticeable unintended/dangerous effects
# as well, so I'm just disabling it globally. See:
#  http://stackoverflow.com/questions/7216973/is-there-a-downside-to-using-bsymbolic-functions
#  https://software.intel.com/en-us/articles/performance-tools-for-software-developers-bsymbolic-can-cause-dangerous-side-effects
export DEB_LDFLAGS_MAINT_STRIP = -Wl,-Bsymbolic-functions

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DMAGNUM_WITH_ANIMATED_GIF_EXAMPLE=ON \
		-DMAGNUM_WITH_ARCBALL_EXAMPLE=ON \
		-DMAGNUM_WITH_AREALIGHTS_EXAMPLE=ON \
		-DMAGNUM_WITH_AUDIO_EXAMPLE=ON \
		-DMAGNUM_WITH_BOX2D_EXAMPLE=ON \
		-DMAGNUM_WITH_BULLET_EXAMPLE=ON \
		-DMAGNUM_WITH_DART_EXAMPLE=OFF \
		-DMAGNUM_WITH_CUBEMAP_EXAMPLE=ON \
		-DMAGNUM_WITH_FLUIDSIMULATION2D_EXAMPLE=OFF \
		-DMAGNUM_WITH_FLUIDSIMULATION3D_EXAMPLE=OFF \
		-DMAGNUM_WITH_IMGUI_EXAMPLE=OFF \
		-DMAGNUM_WITH_MOTIONBLUR_EXAMPLE=ON \
		-DMAGNUM_WITH_MOUSEINTERACTION_EXAMPLE=ON \
		-DMAGNUM_WITH_OCTREE_EXAMPLE=ON \
		-DMAGNUM_WITH_PICKING_EXAMPLE=ON \
		-DMAGNUM_WITH_PRIMITIVES_EXAMPLE=ON \
		-DMAGNUM_WITH_RAYTRACING_EXAMPLE=ON \
		-DMAGNUM_WITH_SHADOWS_EXAMPLE=ON \
		-DMAGNUM_WITH_TEXT_EXAMPLE=ON \
		-DMAGNUM_WITH_TEXTUREDQUAD_EXAMPLE=ON \
		-DMAGNUM_WITH_TRIANGLE_EXAMPLE=ON \
		-DMAGNUM_WITH_TRIANGLE_PLAIN_GLFW_EXAMPLE=OFF \
		-DMAGNUM_WITH_TRIANGLE_SOKOL_EXAMPLE=OFF \
		-DMAGNUM_WITH_VIEWER_EXAMPLE=ON
