#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DWITH_BULLET=ON \
		-DWITH_CUBEMAP=ON \
		-DWITH_FRAMEBUFFER=ON \
		-DWITH_MOTIONBLUR=ON \
		-DWITH_PRIMITIVES=ON \
		-DWITH_TEXT=ON \
		-DWITH_TEXTUREDTRIANGLE=ON \
		-DWITH_TRIANGLE=ON \
		-DWITH_VIEWER=ON
